.chatPage {
    input[type="text"]:focus {
      outline: 0;
      // border-color: orange;
    }
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #e8e8e8;
      height: 20vh;
      .linkToMatching {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 40px;
        border: 5px solid;
        border-radius: 4px;
        border-color:  transparent transparent rgb(23, 175, 207)  rgb(23, 175, 207);
        transform: rotate(45deg);
      }
      .chatPartner {
        &_name {
          margin-top: 10px;
          text-align: center;
        }
        &_img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit:cover;
          overflow: hidden;
          & > img {
            width: 100%;
          }
        }
      }
    }
    .container{
      box-sizing: border-box;
    }
    .messagesArea {
      overflow: scroll;
      max-height: 60vh;
      overflow: scroll;
      .message {
        &.selfMessage {
          display: flex;
          flex-direction: row-reverse;
          .commonMessage {
            margin: 1.5em 15px 1.5em 0;
            padding: 7px 10px;
            max-width: 100%;
            color: #555;
            font-size: 16px;
            background: #e0edff;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 100%;
              margin-top: -10px;
              border: 10px solid transparent;
              border-left: 10px solid #e0edff;
            }
          }
        }
        .commonMessage {
          position: relative;
          display: inline-block;
          margin: 1.5em 0 1.5em 15px;
          padding: 7px 10px;
          max-width: 100%;
          color: #555;
          font-size: 16px;
          border-radius: 7px;
          background: #f1f1f1;
          & > p {
            margin: 0;
          }
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -20px;
            margin-top: -10px;
            border: 10px solid transparent;
            border-right: 10px solid #f1f1f1;
          }
          &.selfMessage {
            margin: 1.5em 15px 1.5em 0;
            padding: 7px 10px;
            max-width: 100%;
            color: #555;
            font-size: 16px;
            background: #e0edff;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 100%;
              margin-top: -10px;
              border: 10px solid transparent;
              border-left: 10px solid #e0edff;
            }
          }
        }
      }
    }
    .messageInputForm {
      position: fixed;
      bottom:0;
      border-top: 1px solid #e8e8e8;
      padding: 20px 0 4em;
      width: 100%;
      background-color: #fff;
      height: 15vh;
      &_input {
        width: 100%;
        border: none;
      }
    }
  }

// index.bladeチャットページのcss

  .chat_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit:cover;
    overflow: hidden;
    & > img {
      width: 100%;
    }
  }




//person.bladeの画像
  .image-wrapper{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    overflow: hidden;
    & > img {
      width: 100%;
    }
  }
